*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html{
  padding: 1%;
  background: black;
  background-image: url(./media/fondo.jpg);
  background-size: cover;
}

/* NavBar */

.navBar__logo__img{
  width: 40px;
  height: 40px;
  margin: 10px;
}

.navBar__cart {
  font-weight: bold;
}

/* Productos */

.product__img{
  width: auto;
  height: auto;
}